body {
    background-color: rgb(143, 143, 143);
  }
  .header {
    height: 10em;
    width: 100%;
    position: fixed;
    bottom: 50em;
    background-color: #ffffff;
  }
  .article {
    height: 10em;
    width: 20%;
    position: fixed;
    bottom: 50em;
    left: 0;
    background-color: #9fd4ec;
  }
  .main {
    
    height: 25em;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
  }