body {
    background-color: rgb(253, 166, 224);
    display: flex;
    justify-content: center;
  }
  h1 {
    color: rgb(255, 0, 0);
  }
  h2 {
    color: orange;
  }
  h3 {
    color: yellow;
  }
  h4 {
    color: green;
  }
  h5 {
    color: blue;
  }
  h6 {
    color: purple;
  }
  header {
    background-color: #ffffff;
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
  }
  head{
  }